.header{
    background-color: var(--dark-logo);
    display: flex;
    justify-content: space-between;
    padding: 25px 15px;
    align-items: center;
    height: 80px;
}

.logo {
    font-size: 2rem;
}
.header a{
    color: #fff;
    text-decoration: none;
}
.right{
   width: 100%;
   max-width: 500px;
   display:  flex;
   justify-content: space-between;

   a{
    padding: 5px;
   }
   button{
    background-color: transparent;
    color: var(--white);
    padding: 0 5px;
   }
    
}